/**{
   margin: 0;
}*/
body {
    /*background-color: #0033cc;*/
    background: url("https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 30px;
    font-family: "Righteous", cursive;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
}

.box0 {
  display: flex;
  flex-direction: column;
  background-color: #8aaae5;
  padding: 1%;
  margin-top: 150px;
  border: 2px solid #295f2d;
}

.nav1Box {
    display: flex;
    flex-direction: row;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
    align-items: center;
    justify-content: center;
}

.box1 {
    border: 2px solid #ffffff;
    margin: 2px;
    height: 50px;
    width: 120px;
}

.box2 {
    border: 2px solid #ffffff;
    margin: 3px;
    padding: 3px;
}

.bg1 {
    background-color: #8aaae5;
    padding: 4% 4% 20% 4%;
    margin: 1%;
    border: 2px solid #295f2d;
}

.navBox1 {
    display: flex;
    flex-direction: row;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    width: 200px;
    height: 200px;
}

.inline {
    display: inline-block;
    text-align: left;
}


.inline>li>a {
    color: black;
}

.tru {
    color: white;
}

@media only screen and (orientation : portrait) {
  /* For mobile phones: */
  [class*="nav1Box"] {
    flex-direction: column;
  }
    
   body {
    background: url("https://raw.githubusercontent.com/guiidd/somePic/master/c6a289648d689ebf779f5c11b2699ab5.jpg");
    background-size: cover;
    background-attachment: fixed;  
  }
}

.vertical-center {
  position: relative;
  transform: translateY(-20%);
}
.align {
  text-align: center;
}

.leftbox { 
   float:left;  
   background:#8aaae5; 
   width:30%; 
   height:20px;
  
 } 
.middlebox{ 
    float:left;  
    background:#8aaae5; 
    width:20%; 
    height:20px; 
 }
.middlebox1{
    float:left;  
    background:#8aaae5; 
    width:20%; 
    height:20px;
 }
.rightbox{ 
    float:right; 
    background:#8aaae5; 
    width:30%; 
    height:20px; 
 }
.mar1{
    margin-left: 85%;
}
.mar2{
    margin-left: 80%;
}
.mar3{
    margin-right: 80%;
}
.mar4{
    margin-right: 80%;
}
.link{
   text-decoration: none;
}
