body {
    /*background-color: #0033cc;*/
    background: url("https://raw.githubusercontent.com/guiidd/somePic/master/cropped-480-800-279264.jpg");
    background-size: auto;
    background-attachment: scroll;
    margin: 30px;
    font-family: "Righteous", cursive;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
}

.box0 {
  display: flex;
  flex-direction: column;
  background-color: #8aaae5;
  padding: 1%;
  margin-top: 150px;
  border: 2px solid #295f2d;
}

.nav1Box {
    display: flex;
    flex-direction: row;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
    align-items: center;
    justify-content: center;
}

.box1 {
    border: 2px solid #ffffff;
    margin: 2px;
    height: 50px;
    width: 120px;
}

.box2 {
    border: 2px solid #ffffff;
    margin: 3px;
    padding: 3px;
}

.bg1 {
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
}

.navBox1 {
    display: flex;
    flex-direction: row;
    background-color: #8aaae5;
    padding: 1%;
    margin: 1%;
    border: 2px solid #295f2d;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    width: 200px;
    height: 200px;
}

.inline {
    display: inline-block;
    text-align: left;
}


.inline>li>a {
    color: black;
}

.tru {
    color: white;
}

@media only screen and (orientation : portrait) {
  /* For mobile phones: */
  [class*="nav1Box"] {
    flex-direction: column;
  }
    
   body {
    background: url("https://raw.githubusercontent.com/guiidd/somePic/master/cropped-480-800-279264.jpg");
    
  }
}

.vertical-center {
  position: relative;
  transform: translateY(-20%);
}
